<html>
<head>
<title>
Email Sent
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>


{% block content %}
<body>
<br>
<br>
<div class="w3-panel w3-pale-green" style="margin-left:5%;margin-right:5%;border-radius:5px;padding-bottom:15px;">
  <h3>Check your inbox.</h3>
  <strong>Success!</strong> We've emailed you instructions for setting your password. You should receive the email shortly!
</div>
</body>

{% endblock %}