<html>
<head>
<title>
Password reset complete
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
{% block content %}
<body>
<div class="w3-panel w3-pale-green" style="margin-left:5%;margin-right:5%;border-radius:5px;padding-bottom:15px;">
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}"><strong>log in page</strong></a>.</p>
</div>
</body>
{% endblock %}