<html>
<head>
<title>Enter new password</title>
<style>
button {
  margin: 0px auto;
  background-color: #4CAF50;
  color: white;
  padding: 14px 15px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 18%;
  display: inline-block;
  margin-left:80px;
  border-radius:5px;
}
button:hover {
  opacity: 0.8;
}
div{
  padding:5%;
  margin-left:8%;
  padding-top:6%;
  border:1px solid ;
  border-radius:2px;
}
</style>
</head>
{% block content %}
<body>
{% if validlink %}
<br><br>


<form method="POST">
<div>
<h2 style="color:blue;">Set a new password!</h2>
{% csrf_token %}
  <p>&emsp;<label for="id_new_password1"><b>New password:</b></label>&emsp;&emsp; <input type="password" name="new_password1" style="width:24%;height:35px;border-radius:5px;" required="" id="id_new_password1"> <span class="helptext"></span></p>
  <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul><p></p>
<p><label for="id_new_password2"><b>New password confirmation:</b></label> <input type="password" name="new_password2" style="width:20%;height:35px;border-radius:5px;" required="" id="id_new_password2">
<button type="submit" value="Change my password">Submit</button>
</p>
  {% comment %} <input type="submit" value="Change my password"> {% endcomment %}
  </div>
</form>

{% else %}

{% comment %} <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p> {% endcomment %}

{% endif %}
{% endblock %}